DATABASE_URL="postgresql://postgres:postgres@localhost:5434/luviepro?schema=public"
JWT_SECRET="troque-esta-chave-no-ambiente-real"
PORT=3333
EXPO_PUBLIC_API_URL="http://localhost:3333/api"
REDIS_HOST="localhost"
REDIS_PORT=6380

APP_WEB_URL="http://localhost:8081"
MERCADO_PAGO_ACCESS_TOKEN=""
MERCADO_PAGO_WEBHOOK_SECRET=""
MERCADO_PAGO_WEBHOOK_URL=""
MERCADO_PAGO_USE_SANDBOX="false"

JWT_REFRESH_SECRET=troque-por-um-segredo-longo-e-diferente
