DATABASE_URL="postgresql://postgres:postgres@localhost:5434/luviepro?schema=public"
JWT_SECRET="troque-por-um-segredo-forte"
PORT=3333
REDIS_HOST="localhost"
REDIS_PORT="6380"
REDIS_DB="0"
REDIS_KEY_PREFIX="luviepro:dev:"

JWT_REFRESH_SECRET=troque-por-um-segredo-longo-e-diferente
